body{
    height: 90vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    background-color: rgba(48, 48, 206, 0.74);
}
img{
    width: 35px;
    height: 35px;
}